
CREATE TABLE [dbo].[r00tme_Upgrade_Item](
	[itemid] [bigint] IDENTITY(1,1) NOT NULL,
	[type] [int] NOT NULL,
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[x] [int] NOT NULL,
	[y] [int] NOT NULL,
	[luck] [int] NOT NULL,
	[skill] [int] NOT NULL,
	[exeopt] [int] NOT NULL,
	[option] [int] NOT NULL,
	[ancient] [int] NOT NULL,
	[fail] [int] NOT NULL,
	[opt_price] [text] NULL,
	[luck_price] [text] NULL,
	[lvl_price] [text] NULL,
	[exl_price] [text] NULL,
	[anc_price] [text] NULL,
	[skill_price] [text] NULL,
	[upgradable] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[r00tme_Upgrade_Item_Logs]    Script Date: 10/19/2018 6:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[r00tme_Upgrade_Item_Logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[old_item_hex] [text] NULL,
	[new_item_hex] [text] NULL,
	[data] [text] NULL,
	[date] [int] NULL,
	[ip] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[r00tme_Upgrade_Item_Messages]    Script Date: 10/19/2018 6:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[r00tme_Upgrade_Item_Messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sender] [nvarchar](50) NULL,
	[recipient] [nvarchar](50) NULL,
	[subject] [text] NULL,
	[message] [text] NULL,
	[date] [int] NULL,
	[ip] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[r00tme_Upgrade_Item] ON 

INSERT [dbo].[r00tme_Upgrade_Item] ([itemid], [type], [id], [name], [x], [y], [luck], [skill], [exeopt], [option], [ancient], [fail], [opt_price], [luck_price], [lvl_price], [exl_price], [anc_price], [skill_price], [upgradable]) VALUES (1, 0, 0, N'Kris', 1, 2, 1, 0, 0, 1, 0, 0, N'["50:50","50:50","50:50","50:50","50:50","50:50"]', N'[50,50]', N'["50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50"]', N'["50:50","50:50","50:50","50:50","50:50","50:50"]', N'', N'', 1)
INSERT [dbo].[r00tme_Upgrade_Item] ([itemid], [type], [id], [name], [x], [y], [luck], [skill], [exeopt], [option], [ancient], [fail], [opt_price], [luck_price], [lvl_price], [exl_price], [anc_price], [skill_price], [upgradable]) VALUES (2, 0, 1, N'Short Sword', 1, 3, 1, 0, 0, 1, 0, 0, N'["50:50","50:50","50:50","50:50","50:50","50:50"]', N'[50,50]', N'["50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50"]', N'["50:50","50:50","50:50","50:50","50:50","50:50"]', N'', N'', 1)
INSERT [dbo].[r00tme_Upgrade_Item] ([itemid], [type], [id], [name], [x], [y], [luck], [skill], [exeopt], [option], [ancient], [fail], [opt_price], [luck_price], [lvl_price], [exl_price], [anc_price], [skill_price], [upgradable]) VALUES (3, 0, 2, N'Rapier', 1, 3, 1, 0, 0, 1, 1, 0, N'["50:50","50:50","50:50","50:50","50:50","50:50"]', N'[50,50]', N'["50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50","50:50"]', N'["50:50","50:50","50:50","50:50","50:50","50:50"]', N'["30:50","30:50"]', N'', 1)
GO
SET IDENTITY_INSERT [dbo].[r00tme_Upgrade_Item] OFF

ALTER TABLE [dbo].[r00tme_Upgrade_Item] ADD  CONSTRAINT [DF_r00tme_Upgrade_Item_ancient]  DEFAULT ((0)) FOR [ancient]
GO
ALTER TABLE [dbo].[r00tme_Upgrade_Item] ADD  CONSTRAINT [DF_r00tme_Upgrade_Item_fail]  DEFAULT ((0)) FOR [fail]
GO
ALTER TABLE [dbo].[r00tme_Upgrade_Item] ADD  CONSTRAINT [DF_r00tme_Upgrade_Item_upgradable]  DEFAULT ((0)) FOR [upgradable]
GO
